@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

*{
	margin:0 auto;
	display:block;
}

html, body { height:100%; }

ul li a{
	text-decoration:none;
}
.wrapper{
    width:640px;
    background-color: #33394c;
	
}

a#topLinkR{
    font-family: Lato;
    font-size:29px;
    color: #feb5a8;
    font-weight: 300;
    float:right;
    margin-right:24px;
}

a#topLinkL{
    font-family: Lato;
    font-size:29px;
    color: #feb5a8;
    font-weight: 300;
    float:left;
    
    
}



header{
    width:100%;
	height:84px;
	border-bottom: thin solid;
    border-color: #1b2135;
    background-color:#33394c;
	
}

#logo{
    
    text-align: center;
    vertical-align: middle;
    line-height: 84px;
    
    font-family:Lato;
    font-weight: 300;
    width:211px;
    height: 25px;;
    color: #feb5a8;
    font-size: 26px;
	
}

#search{
    height:7.3%;
    background-color: #2a2e3e;
    padding-top:15px;
    padding-bottom: 15px;
}

#search input{
    width: 522px;
    height:50px;
    background-color: #33394c;
    border: 1px black;
    color: rgba(168, 168, 168, 0.6);
    font-family: Lato;
    font-size: 23px;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
}

#createGroup{
    margin-top:46px;
    height: 82px;
    width: 638px;
    background-color:#33394c;
    font-family: Lato;
    font-weight: 300;
    color: #feb5a8;
    font-size: 35px;
    border:0px;
    
}

div#createGroup{
    color: rgba(254, 181, 168, 0.35);
}


h1#createGroup{
    background-color:#2a2e3e;
}


#freindsList{
    height: 181px;
    background-color:#33394c;
}
#letterTitles{
    padding-left: 17px;
    height: 6.8%;
    background-color: #2e354b;
    font-size: 23px;
    font-family: Lato;
    font-weight: 300;
    color: #ffffff;
    border-bottom:solid;
    border-width: 1px;
    border-color: #252f4e;
     
}
#contacts{
    height: 84%;
}


.contactDiv{
	height:13.2%;
	border-bottom:solid;
    border-width: 1px;
    border-color: #2a2e3e;
    padding-top:26px;
    padding-bottom:26px;
    padding-left:51px;
    /*margin-left: 21px;
    margin-right: 21px;*/
    font-size:24px;
    color: #ffffff;
    font-family: 'Lato';
}




.onoffswitch {
    float:right;
    position: relative; width: 79px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #EBA99E; border-radius: 30px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 15px;
    background-color: #F2705B; color: #33394C;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 15px;
    background-color: #33394C; color: #F9B3A7;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #33394C;
    border: 2px solid #EBA99E; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 45px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}





