@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

*{
	margin:0 auto;
	display:block;
}

html, body { height:100%; }

ul li a{
	text-decoration:none;
}
ul{
    padding:0px;

}

.wrapper{
    width:640px;
    background-color: #33394c;
	
}

a#topLinkR{
    font-family: Lato;
    font-size:29px;
    color: #feb5a8;
    font-weight: 300;
    float:right;
    margin-right:24px;
}

a#topLinkL{
    font-family: Lato;
    font-size:29px;
    color: #feb5a8;
    font-weight: 300;
    float:left;
    
    
}



header{
    width:100%;
	height:84px;
	border-bottom: thin solid;
    border-color: #1b2135;
    background-color:#33394c;
	
}

#logo{
    
    text-align: center;
    vertical-align: middle;
    line-height: 84px;
    font-family:Lato;
    font-weight: 400;
    width:211px;
    height: 25px;;
    color: #feb5a8;
    font-size: 26px;
	
}

#search{
    height:7.3%;
    background-color: #2a2e3e;
    padding-top:15px;
    padding-bottom: 15px;
}

#search input{
    width: 522px;
    height:50px;
    background-color: #33394c;
    border: 1px black;
    color: rgba(168, 168, 168, 0.6);
    font-family: Lato;
    font-size: 23px;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
}

#createGroup{
    padding-left:20px;
    margin-top:46px;
    height: 82px;
    width: 620px;
    background-color:#33394c;
    font-family: Lato;
    font-weight: 300;
    color: #feb5a8;
    font-size: 35px;
    border:0px;
    
}
#createFrequency{
    padding-left:20px;
    height: 80px;
    width: 620px;
    background-color: #33394c;
    font-family: Lato;
    font-weight: 300;
    color: #feb5a8;
    font-size: 35px;
    margin-top:46px;
}
div#createGroup{
    
    color: rgba(254, 181, 168, 0.35);
}


h1#createGroup{
    background-color:#2a2e3e;
}


#friendsList{
    height: 181px;
    background-color:#33394c;
}


.createGroupfriends{
    position:relative;
    border-color: #ffc5bb;
    border-style: solid;
    border-width: 2px;
    
    width: 172px;
    height: 55px;
    float: left;
    margin-left:16px;
    margin-top:27px;
    
}
#createGroupfriends h{
    margin-top:17px;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 25px;
    color:#ffc5bb;
    z-index: -10;
}
.cancelImage{
    margin-right: -16px;
    margin-top:-16px;
    width:32px;
    height: 32px;
    background: url(images/Vector-Smart-Object-copy-4.png);
    z-index: 10;
    
}
.letterTitles{
    padding-left: 17px;
    height: 6.8%;
    background-color: #2e354b;
    font-size: 23px;
    font-family: Lato;
    font-weight: 300;
    color: #ffffff;
    border-bottom:solid;
    border-width: 1px;
    border-color: #252f4e;
     
}
#contacts{
    height: 84%;
}


.contactDiv{
	height:13.2%;
	border-bottom:solid;
    border-width: 1px;
    border-color: #2a2e3e;
    padding-top:26px;
    padding-bottom:26px;
    padding-left:51px;
    /*margin-left: 21px;
    margin-right: 21px;*/
    font-size:24px;
    color: #ffffff;
    font-family: 'Lato';
}
#newFrequencyNav{
    height: 125px;
}
#newFrequencyNav ul li{
    font-family: Lato;
    font-size: 25px;
    font-weight: 300;
    color: #feb5a8;
    float:left;
    margin-top:56px;
    margin-left:68px;
    
}
#frequencySelect{
    height:540px;
}
.whatsAppSlider{
    height:20px;
    background-color: #ff7058;
}
#frequencySummery{
    height:315px;
}
#frequencySummery h{
    display:inline;
    margin:207px;
    height:315px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    color: #feb5a8;
}
#device{
    width:213.3px;
    float:left;
    margin-top:75px;
    height:105px;
}
.w{
    color: #ff7058;
}
.s{
    color: #fdaa9c;
}
.c{
    color: #ffd9d2;
}
.t{
    color: #69c394;
    margin-top:240px;
}
#deviceName{
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
#whatsAppIcon{
    background: url(images/whatsApp.png);
    width: 40px;
    height: 40px;
}
#smsIcon{
    background: url(images/sms.png);
    width: 44px;
    height: 40px;
}
#callIcon{
    background: url(images/calls.png);
    width: 40px;
    height: 39px;
}

#frequencyResult{
    text-align: center;
    font: 400 25px / 26px Lato;
}


#addGroup{
    width: 50px;
    height: 50px;
    background-image: url(images/addGroup.png);
}

#settings{
    width: 51px;
    height: 50px;
    background-image:url(images/settings.png);
}

#selectViewNav{
    
    height: 92px;
    background-color:#33394c;
    border-bottom-color: #1b2135;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#listView{
    float:left;
    width: 320px;
    height: 92px;
    background-color: #252a3d;
}
#statsView{
    float:left;
    width: 320px;
    height: 92px;
}

#listImg{
    margin-top:17px;
    width: 39px;
    height: 61px;
    
    background-image: url(images/list.png);
}
#statsImg{
    margin-top:28px;
    width: 61px;
    height: 38px;
    background-image: url(images/stats.png);
}

#sortTitle{
    height: 46px;
    background-color:#33394c;
    border-bottom-color: #1b2135;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#groupName{
    background-color: #252a3d;
    margin-left:17px;
    margin-top: 12px;
    height: 46px;
    font: 300 33px / 25px Lato;
    color:white;
    border-bottom-color: #1b2135;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.listContactDiv{
    background-color:#33394c;
    /*height:85px;*/
    
}

.contactName{
    
    float:left;
    margin-left:52px;
    width: 540px;
    padding-top:26px;
    font: 400 33px / 25px Lato;
    color: #ff7058;
}
#freqStats{
    float:right;
    width:100px;
    font: 300 33px / 25px Lato;
    color: #ff7058;
}

.clear{
    clear:both;
}

/*
slider total
*/

input[type=range].totalSlide {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.05px 0;
}
input[type=range].totalSlide:focus {
  outline: none;
}
input[type=range].totalSlide::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #7cc69e;
  border-radius: 1px;
  border: 0px solid #7cc69e;
}
input[type=range].totalSlide::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.05px;
}
input[type=range].totalSlide:focus::-webkit-slider-runnable-track {
  background: #7cc69e;
}
input[type=range].totalSlide::-moz-range-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #7cc69e;
  border-radius: 1px;
  border: 0px solid #7cc69e;
}
input[type=range].totalSlide::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
}
input[type=range].totalSlide::-ms-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].totalSlide::-ms-fill-lower {
  background: #7cc69e;
  border: 0px solid #7cc69e;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].totalSlide::-ms-fill-upper {
  background: #7cc69e;
  border: 0px solid #7cc69e;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].totalSlide::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  height: 7.9px;
}
input[type=range].totalSlide:focus::-ms-fill-lower {
  background: #7cc69e;
}
input[type=range].totalSlide:focus::-ms-fill-upper {
  background: #7cc69e;
}

/*whatsapp slide*/

input[type=range].whatsAppSlide {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.05px 0;
}
input[type=range].whatsAppSlide:focus {
  outline: none;
}
input[type=range].whatsAppSlide::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #ff6f57;
  border-radius: 1px;
  border: 0px solid #ff6f57;
}
input[type=range].whatsAppSlide::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.05px;
}
input[type=range].whatsAppSlide:focus::-webkit-slider-runnable-track {
  background: #ff6f57;
}
input[type=range].whatsAppSlide::-moz-range-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #ff6f57;
  border-radius: 1px;
  border: 0px solid #ff6f57;
}
input[type=range].whatsAppSlide::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
}
input[type=range].whatsAppSlide::-ms-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].whatsAppSlide::-ms-fill-lower {
  background: #ff6f57;
  border: 0px solid #ff6f57;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].whatsAppSlide::-ms-fill-upper {
  background: #ff6f57;
  border: 0px solid #ff6f57;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].whatsAppSlide::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  height: 7.9px;
}
input[type=range].whatsAppSlide:focus::-ms-fill-lower {
  background: #ff6f57;
}
input[type=range].whatsAppSlide:focus::-ms-fill-upper {
  background: #ff6f57;
}

/*sms slide*/

input[type=range].SMSSlide {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.05px 0;
}
input[type=range].SMSSlide:focus {
  outline: none;
}
input[type=range].SMSSlide::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #f8a99c;
  border-radius: 1px;
  border: 0px solid #f8a99c;
}
input[type=range].SMSSlide::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.05px;
}
input[type=range].SMSSlide:focus::-webkit-slider-runnable-track {
  background: #f8a99c;
}
input[type=range].SMSSlide::-moz-range-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #f8a99c;
  border-radius: 1px;
  border: 0px solid #f8a99c;
}
input[type=range].SMSSlide::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
}
input[type=range].SMSSlide::-ms-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].SMSSlide::-ms-fill-lower {
  background: #f8a99c;
  border: 0px solid #f8a99c;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].SMSSlide::-ms-fill-upper {
  background: #f8a99c;
  border: 0px solid #f8a99c;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].SMSSlide::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  height: 7.9px;
}
input[type=range].SMSSlide:focus::-ms-fill-lower {
  background: #f8a99c;
}
input[type=range].SMSSlide:focus::-ms-fill-upper {
  background: #f8a99c;
}

/*calls slide*/
input[type=range].CallsSlide {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.05px 0;
}
input[type=range].CallsSlide:focus {
  outline: none;
}
input[type=range].CallsSlide::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #fcd7d2;
  border-radius: 1px;
  border: 0px solid #fcd7d2;
}
input[type=range].CallsSlide::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.05px;
}
input[type=range].CallsSlide:focus::-webkit-slider-runnable-track {
  background: #fcd7d2;
}
input[type=range].CallsSlide::-moz-range-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
  background: #fcd7d2;
  border-radius: 1px;
  border: 0px solid #fcd7d2;
}
input[type=range].CallsSlide::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
}
input[type=range].CallsSlide::-ms-track {
  width: 100%;
  height: 7.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].CallsSlide::-ms-fill-lower {
  background: #fcd7d2;
  border: 0px solid #fcd7d2;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].CallsSlide::-ms-fill-upper {
  background: #fcd7d2;
  border: 0px solid #fcd7d2;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].CallsSlide::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #d7d7d7;
  cursor: pointer;
  height: 7.9px;
}
input[type=range].CallsSlide:focus::-ms-fill-lower {
  background: #fcd7d2;
}
input[type=range].CallsSlide:focus::-ms-fill-upper {
  background: #fcd7d2;
}

.sliders{
    margin-top:50px;
}


/*switch*/
.onoffswitch {
    float:right;
    position: relative; width: 79px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #EBA99E; border-radius: 30px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 15px;
    background-color: #F2705B; color: #33394C;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 15px;
    background-color: #33394C; color: #F9B3A7;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #33394C;
    border: 2px solid #EBA99E; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 45px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}




